{% extends 'base.html' %}

{% block title %}Place to Ukrain{% endblock %}

{% block content %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center">Proposer une maison</h1>
        <form method="post" class="my-4">
          {% csrf_token %}
          {{ house_form.as_p }}
          {{ period_formset.management_form }}
          <fieldset>
            <legend>Periods</legend>
            {% for form in period_formset %}
                <div class="form-row period-row">
                    <div class="form-group col-md-6">
                        {{ form.start_date.label_tag }}
                        {{ form.start_date }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.end_date.label_tag }}
                        {{ form.end_date }}
                    </div>
                </div>
            {% endfor %}
            {{ period_formset.management_form }}
        </fieldset>
        
        {{ error }}  <br>
        <button type="submit" class="btn btn-primary mt-3">Proposer</button>
      </form>
      
      
      </div>
    </div>
  </div>
{% endblock %}
