{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="text-center">
    <h1>Place to Ukrain</h1>
    <p>Pour trouver ne laisser personne dehors</p>
    <div class="mt-4">
      {% if not request.session.user %}
        <a href="{% url 'login' %}" class="btn btn-primary">Se connecter</a>
        <a href="{% url 'register' %}" class="btn btn-success ml-2">S'enregistrer</a>
      {% else %}
        <a href="{% url 'index' %}" class="btn btn-primary">Index</a>
        <a href="{% url 'logout' %}" class="btn btn-danger ml-2">Deconnexion</a>
      {% endif %}
      <a href="{% url 'statistics' %}" class="btn btn-warning">Statistiques</a>
    </div>
  </div>
{% endblock %}
