{% extends 'base.html' %}

{% block title %}Place to Ukrain{% endblock %}

{% block content %}
  <div class="text-center">
    <h1>Place to Ukrain</h1>
    <h2>Bienvenue {{user.email}}</h2>
    <div class="btn-group mt-4" role="group">
      <a href="{% url 'statistics' %}" class="btn btn-primary">Statistics</a>
      {% if user.is_host %}
        <a href="{% url 'create_house' %}" class="btn btn-success">Create a House</a>
      {% else %}
        <a href="{% url 'search' %}" class="btn btn-info">Search for a House</a>
      {% endif %}
    </div>
    {% if user.is_host %}
        <h2>Vos maisons</h2>
        <table class="table table-bordered table-striped">
        <thead>
            <tr>
              <th>Pays</th>
              <th>Ville</th>
              <th>Type de prix</th>
              <th>Prix</th>
              <th>Nombre de personnes</th>
              <th>Periodes</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for house_period in houses_periods %}
            <tr>
                <td>{{ house_period.0.country }}</td>
                <td>{{ house_period.0.city }}</td>
                <td>{{ house_period.0.get_price_type_display }}</td>
                <td>{{ house_period.0.price }}</td>
                <td>{{ house_period.0.people }}</td>
                <td>
                  {% for period in house_period.1 %}
                    {{ period }}<br>
                  {% endfor %}
                </td>
                <td>
                  <form method="post" action="{% url 'delete_house' house_period.0.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}
  </div>
{% endblock %}
