{% extends 'base.html' %}

{% block title %}House Search{% endblock %}

{% load filter %}

{% block content %}

<h1 class="text-center">House Search</h1>
  <div class="container"  style="display: flex; flex-direction: row">
      <div style="margin-right: 4rem;">
        <h2>Filtre</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-table" style="display: flex;flex-direction: column;">
            {{ form.as_table }}
          </div>
          <button type="submit" class="btn btn-primary mt-3">Search</button>
        </form>
      </div>

      <div class="col-md-12 row">
          <h2 class="mt-4">Résultats</h2>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Pays</th>
                <th>Ville</th>
                <th>Type de prix</th>
                <th>Price</th>
                <th>People</th>
                <th>Période disponible</th>
                <th>Action</th>
              </tr>
            </thead>
              <tbody>
                {% if houses or propositions %}
                {% for house in houses %}
                  <tr>
                    <form method="post" action="{% url 'rent_house' house.0.id %}">
                      {% csrf_token %}
                      {% if period %}
                        <input type="hidden" name="house_period" value="{{ period }}">
                      {% else %}
                        <input type="hidden" name="house_period" value="{{ house.1 }}">
                      {% endif %}
                      <td>{{ house.0.country }}</td>
                      <td>{{ house.0.city }}</td>
                      <td>{{ house.0.get_price_type_display }}</td>
                      {% if house.0.price_type == 'payant' %}
                        <td>{{ house.0.price }} €</td>
                      {% elif house.0.price_type == 'gratuit' %}
                        <td>0 €</td>
                      {% else %}
                        <td>
                          <label for="username">Votre prix </label>
                          <input required type="text" name="offer" class="form-control" id="offer">
                        </td>
                      {% endif %}
                      <td>{{ house.0.people }}</td>
                      <td>
                        {{ house.1 }}
                      </td>
                      <td>
                        <button type="submit" class="btn btn-success">Reserve</button>
                      </td>
                    </form>
                  </tr>
                {% endfor %}
                <h3>Nous vous proposons une combinaison de maison qui satisfait vos filtres</h3>
                {% for proposition in propositions %}
                {% for house in proposition %}
                  <tr>
                    <form method="post" action="{% url 'rent_house' house.0.id %}">
                      {% csrf_token %}
                      <input type="hidden" name="house_period" value="{{ house.1 }}">
                      <td>{{ house.0.country }}</td>
                      <td>{{ house.0.city }}</td>
                      <td>{{ house.0.get_price_type_display }}</td>
                      {% if house.0.price_type == 'payant' %}
                        <td>{{ house.0.price }} €</td>
                      {% elif house.0.price_type == 'gratuit' %}
                        <td>0 €</td>
                      {% else %}
                        <td>
                          <label for="username">Votre prix </label>
                          <input required type="text" name="offer" class="form-control" id="offer">
                        </td>
                      {% endif %}
                      <td>{{ house.0.people }}</td>
                      <td>
                        {{ house.1|datetime_list_to_str }}
                      </td>
                      <td>
                        <button type="submit" class="btn btn-success">Reserve</button>
                      </td>
                    </form>
                  </tr>
                  {% endfor %}
                {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="7">Aucun résultat</td>
                  </tr>
                {% endif %}
              </tbody>
          </table>
      </div>
    </div>
  </div>
{% endblock %}